/*** cell table skinning */

.cellTableOddRow {
	background: #EEE;
	border-top: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
		
}

.cellTableOddRowCell {
	border: selectionBorderWidth solid #dedede;
}

.cellTableEvenRow {
	background: #FFF;
	border-top: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #DDD;
	padding: 2px 3px 3px 4px;	
}

.cellTableEvenRowCell {
	border: selectionBorderWidth solid #dedede;
}

.cellTableHoveredRow {
	background: #ffff80;
	border-top: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
}

.cellTableHoveredRowCell {
	
}

.cellTableCell {
	margin: 0;
	/*cursor: pointer;*/
	padding: 4px;
	font-size: 12px;
	color: #333;
	padding: 4px;
	overflow: hidden;
	font-size: 12px;	
	text-align: center;
				
	border-left-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-bottom-style: solid;	
	border-right-color: #aaa;
	border-bottom-color: #aaa;
			
}

.cellTableHeader {
	color: #fff;
	text-align: center;
	font-size: 14px;
	background-image: none;
	background: #336577 url('img/gradiant10.gif') repeat-x	scroll 0 0;
	height: 20px;
	vertical-align: middle;
	text-shadow: none;
	font-weight:normal;
	padding: 5px 3px;
}

.cellTableFirstColumnHeader {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.cellTableLastColumnHeader {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.cellTableFooter {
	text-align: center;
}

@external .currency;
.currency {
	text-align: right;
	padding-right: 30px;
}

@external .notPaid;
.notPaid { 	
	color: #0404B4; 
	text-align: right;
	padding-right: 30px;
	font-weight: bold;
}

@external .currencyHeader;
.currencyHeader {
	text-align: right;
}